.DS_Store
main
analysis*
build*
latex_kurs*
presentation*
thesis*
test
CMakeFiles*
CMakeCache.txt
build*
data*
Makefile
plots*
QTEMSA*
*._*
*.a
*.aux
*.bbl
*.bcf
*.blg
*.cmake
*.d
*.lof
*.log
*.lot
*.gch
*.gz
*.o
*.out
*.pdf
*.pyc
*.run.xml
*.so
*.toc
